{{#if errors}}
  <h3>Errors:</h3>
  {{#if errors.current_password}}
    <div class="alert alert-danger">
      {{errors.current_password}}
    </div>
  {{/if}}
  {{#if errors.password2}}
    <div class="alert alert-danger">
      {{errors.password2}}
    </div>
  {{/if}}
{{/if}}
{{#if success}}
  <div class="alert alert-info">
    {{success}}
  </div>
{{/if}}
<h2>Change Password</h2>
<form {{action 'changePass' on='submit'}}>
  {{input id='change-pass-old-password' class='form-control' value=current_password type='password' placeholder='Old Password'}}
  {{input id='change-pass-new-password' class='form-control' value=password1 type='password' placeholder='New Password'}}
  <span {{bind-attr class="passwordError:has-error"}}>
    {{view App.ChangePasswordConfirmField id="change-pass-new-password2" class='form-control' value=password2 type='password' placeholder='Re-Enter New Password'}}
    <span id="change-pass-password-error" {{bind-attr class="passwordError:password-error :help-block"}}>{{passwordError}}</span>
  </span>
  {{input id='register-submit-btn' class='btn btn-lg btn-success col-xs-12' type='submit' value='Update Password'}}
</form>
